In [2]:
import pandas as pd 
import openpyxl
file_path = "notas_ia.xlsx"  
data = pd.read_excel(file_path)
data.head()

,identifier,github_username,Observação,Elevador,Taxi,Nota taxi,Taxi_v2,Total,Regime Disciplinar,DP,Comentário,Unnamed: 11
0,Alex Assumpção Chequer,AlexChequer,NaN,2.0,1,0.875,0.0,2.875,nao,nao,whatsapp,NaN
1,Ana Beatriz da Cunha,aninhaabc,"elevador: fez tudo certo, mas na hora de mostr...",2.5,4,3.500,1.0,7.000,sim,sim,usou chatgpt,NaN
2,Arthur Almeida Abdala,Arthurabdala,faltou,0.0,0,0.000,0.0,0.000,nao,nao,NaN,NaN
3,Artur Álvares Cruz,arturacruz,faltou,0.0,0,0.000,0.0,0.000,nao,nao,NaN,NaN
4,Bruno Urasaki Oberhuber,BRUNOOBERHUBER,faltou,0.0,0,0.000,0.0,0.000,nao,nao,NaN,NaN